@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px 20px;
    background-color: #c8d8e4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000000;
    border-radius: 10px;;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);

}

.buttons button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:active {
    transform: scale(0.95);
}

.operator {
    color: #9ca4ca;
}